@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Rubik+Mono+One&display=swap');

h1 {
padding-right: 50px;
font-family: 'Rubik Mono One', monospace;
font-weight: normal;
text-align: center;
padding-top: 20px;
font-size: 24pt;
color: #f1f1f1;
animation: h1Glow 5s cubic-bezier(0.42, 0, 0.58, 1)infinite;
z-index: 2;
border-color:#84d259;
border-style: hidden;
padding-bottom: 20px;
margin: -20px;

background-color:  rgba(46, 45, 45, 0.135);



}

@keyframes h1Glow {
  0% {text-shadow: 0px 0px 0px rgb(233, 230, 230)}
  50% {text-shadow: 1px 2px 5px rgb(241, 241, 241)}
  100% {text-shadow: 0px 0px 0px rgb(245, 245, 245)}
}




header {

  color: white;
}

html, body {
  height:100%;
  width: 100%;
  margin: 0;
  padding:0;
}

body {
  background: rgb(244, 228, 214);/* linear-gradient(2deg, rgb(43, 163, 218), #4bdefb); */
  background-size: 800% 800% ;
  margin-bottom: 800%;
 overflow: hidden;

 
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1602px 661px #FFF , 1779px 795px #FFF , 1154px 812px #FFF , 1328px 800px #FFF , 1262px 1251px #FFF , 1976px 432px #FFF , 1650px 1853px #FFF , 1001px 468px #FFF , 609px 405px #FFF , 1842px 1576px #FFF , 742px 1365px #FFF , 321px 1286px #FFF , 462px 926px #FFF , 481px 458px #FFF , 484px 1952px #FFF , 380px 1267px #FFF , 1122px 820px #FFF , 1626px 1217px #FFF , 1953px 1255px #FFF , 1728px 140px #FFF , 1430px 1262px #FFF , 7px 463px #FFF , 1664px 338px #FFF , 63px 11px #FFF , 552px 438px #FFF , 3px 783px #FFF , 1247px 361px #FFF , 803px 121px #FFF , 755px 1435px #FFF , 659px 1572px #FFF , 462px 256px #FFF , 654px 1979px #FFF , 1747px 1521px #FFF , 1222px 1922px #FFF , 1615px 1672px #FFF , 
}

#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1602px 661px #FFF , 1779px 795px #FFF , 1154px 812px #FFF , 1328px 800px #FFF , 1262px 1251px #FFF , 1976px 432px #FFF , 1650px 1853px #FFF , 1001px 468px #FFF , 609px 405px #FFF , 1842px 1576px #FFF , 742px 1365px #FFF , 321px 1286px #FFF , 462px 926px #FFF , 481px 458px #FFF , 484px 1952px #FFF , 380px 1267px #FFF , 1122px 820px #FFF , 1626px 1217px #FFF , 1953px 1255px #FFF , 1728px 140px #FFF , 1430px 1262px #FFF , 7px 463px #FFF , 1664px 338px #FFF , 63px 11px #FFF , 552px 438px #FFF , 3px 783px #FFF , 1247px 361px #FFF , 

}




.background {
  position: absolute;
  top: 50;

  height: 100%;
  background-image: url('BG4.png'); /* Add the path to your background image */
  background-size: 50%; /* Adjust as needed */
  z-index: -1; /* Place the background image above the gradient */
}

#score {
  font-family: 'Rubik Mono One', monospace;
  color: #f1f1f1;
  font-size: 20px;
  display:flex;
  width: 200px;
  margin-top: 0px;
  padding: 30px;
  height: 305px;
  
 
  
 

}


#inputSubmit {
  text-align:center;
  
}
.scoreChild2 { 
  text-align: right;
}

.flag1 {/* container */
   
  
   justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 2%;
    
    width: 100%; 
    height: 100%;
    object-fit: cover;
    

    
    
    
}

.flag1 img {
  margin-right: 250px;
}


#flag1 {
  animation: changeZ 1s infinite; /* Adjust the duration as needed */
  border-style: none;
  border-color: black;
  
}

.hintButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

#hint {
  padding:6px 47px;
  background-color: rgb(201, 201, 74);  
  color: #f1f1f1;
  font-weight: bold;
  border-radius: 5px;
  border-style: hidden;
}

#hint:hover {
  background-color: rgb(189, 189, 70);  
  cursor: pointer;
  
  
}

#giveUp:hover {
  background-color: #b4523c; 
  cursor: pointer;
  
  
}

#giveUp {
  padding:6px 35px;
  background-color: #d05e45;
  color: #f1f1f1;
  font-weight: bold;
  border-radius: 5px;
  border-style: hidden;
  
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px;
    transition: 0.3s; 
  }

  
 
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
     display: block;
    transition: 0.3s;
  }
  .info {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px;
    transition: 0.3s; 
  }


  

  .info p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
     display: block;
    transition: 1s;
  }
  span { 
    float: left;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -20px;
    color: #f1f1f1
   
}
#gif {
width: 50px;

}
#submitButton {
  padding:6px 12px;
  background-color: #84d259;
  color: #f1f1f1;
  font-weight: bold;
  border-radius: 5px;
  border-style: hidden;
}

#submitButton:hover {
  background-color: #77bc52;
  cursor: pointer;
  
  
}
  span:hover {
    background-color:rgba(141, 141, 141, 0.441);

       
  }
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */

  #main {
    transition: margin-left .5s;
    padding: 20px;
  }

  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .start {
    text-align: center;
  }
  #starts { /* start button */
    font-family: 'Rubik Mono One', monospace;
    border-radius: 9px;
    font-size: 40px;
    position: relative; 
    top: 150px; 
    border: hidden;
    padding: 16px 32px;
    
    background: linear-gradient(2deg, #84d259, #71aa51 );
    color: #f1f1f1;
    background-size: 800% 800% ;
    margin-bottom: 800%;
    -webkit-animation: uiColor 7s ease infinite;
    -moz-animation: uiColor 7s ease infinite;
    animation: wrong 5s ease-out
    
  
  }

  @-webkit-keyframes uiColor {
    0%{background-position:52% 0%}
    50%{background-position:49% 100%}
    100%{background-position:52% 0%}
  }
  @-moz-keyframes uiColor {
    0%{background-position:52% 0%}
    50%{background-position:49% 100%}
    100%{background-position:52% 0%}
  }
  @keyframes uiColor {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
  }
  #starts:hover {
    background-color: #71b34e;
    cursor: pointer;
    
  }

  input {
    padding:6px 8px;
    border-radius: 5px;
    border-style: hidden;
    margin-right: 6px;
  }

  @keyframes changeZ {
    0% {
      z-index: 1; /* Initial value */
    }
    50% {
      z-index: 100; /* Midway value */
    }
    100% {
      z-index: 1; /* Final value, same as initial for infinite loop */
    }
  }
  
  /* Apply the animation to your element */

  h1 #gif{
    width: 50px;
    border-top: 50px;
    border-bottom: 100px;
  }


  .moonMode {
    background: rgb(16, 16, 16);
   
   
    
  }

  .wrongAnswer {
    animation: wrong 0.0000005s infinite;
  }

  @keyframes wrong {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(10px);
    }
    40% {
      transform: translate(-10px);
    }
    60% {
      transform: translate(10px);
    }
    80% {
      transform: translate(-10px);
    }
    100% {
      transform: translate(0);
    }
  }

  .earth {
    text-align: center;
    position: absolute;
    justify-content: center;
    overflow: hidden;
    top: 70vh;
    
    height: 1500px;
    width: 1500px;
    background-color: rgb(56, 122, 202); /*#bbb*/
    border-radius: 50%;
    will-change: transform;
    
    transform: translateZ(0);
    animation: rotateAnimation 60s linear infinite, pullMoon ease 3s;
    z-index: -1;

  }

  @keyframes rotateAnimation {
  0% {
      transform: rotate(0deg);
  }
  25% {
      transform: rotate(90deg);
  }
  50% {
      transform: rotate(180deg);
  }
  75% {
      transform: rotate(270deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes pullMoon {
  0% {
    top: 100vh;
}
20% {
    top: 45vh;

}
}



  .earth::after{
    content: "";
    background-color: rgb(35, 89, 154);
    display: block;
    position: absolute;
    left:  160px;
    top:  50px;
    width: 40px;  
    height: 40px;
    border-radius:50%;
    box-shadow: 3px 0 0 -5px #6cad49,
    7px 45px 0 -5px #84d259,
    9px 45px 0 -10px #75bb4f,
    35px 20px 0 -10px #84d259,
    37px 20px 0 -15px #75ba4f,
    400px 40px 0 -5px #84d259,
    402px 40px 0 -10px #73b84e,
    450px 40px 0 6px #84d259,
    452px 40px 0 1px #76bc50,
    450px 650px 0 8px #73b94e,
    448px 650px 0 3px #73b94e,
    270px 750px 0 11px #78c052,
    270px 747px 0 6px #84d259,
    1000px 1100px 0 20px #78c051,
    1004px 1098px 0 16px #84d259,
    1250px 630px 0 38px #79c252,
    1254px 628px 0 31px #84d259,
    10px 1050px 0 60px #78c051,
    12px 1048px 0 53px #84d259,
    670px 1360px 0 73px #77bf51,
    670px 1356px 0 53px #84d259,
    430px 1250px 0 33px #76bd50,
    435px 1255px 0 13px #84d259,
    650px 250px 0 50px #75bb4f,
    640px 256px 0 35px #84d259,
    350px 250px 0 50px #75bb50,
    340px 256px 0 30px #84d259,
    30px 605px 0 50px #74b94f,
    37px 610px 0 35px #84d259,
    -120px 355px 0 50px #73b94e,
    -118px 357px 0 30px #84d259,
    -70px 550px 0 5px #75bb50,
    -68px 552px 0 3px #84d259;

  }

  
  .moon {
    text-align: center;
    position: absolute;
    justify-content: center;
    overflow: hidden;
    top: 70vh;
    right: 2.2vw;
    height: 1500px;
    width: 1500px;
    background-color: #bbb; /*#bbb*/
    border-radius: 50%;
    will-change: transform;
    
    transform: translateZ(0);
    animation: rotateAnimation 60s linear infinite, pullMoon 3s;
    z-index: -1;

  }

  .moon::after{
    content: "";
    background-color: rgba(162, 162, 162, 0.81);
    display: block;
    position: absolute;
    left:  160px;
    top:  50px;
    width: 40px;  
    height: 40px;
    border-radius:50%;
    box-shadow: 3px 0 0 -5px rgba(98, 98, 98, 0.51),
                7px 45px 0 -5px rgba(162, 162, 162, 0.9),

                9px 45px 0 -10px rgba(100, 100, 100, 0.51),
                 35px 20px 0 -10px rgba(162, 162, 162, 0.9),

                 37px 20px 0 -15px rgba(100, 100, 100, 0.51),
                 400px 40px 0 -5px rgba(162, 162, 162, 0.9),

                 402px 40px 0 -10px rgba(100, 100, 100, 0.51),
                 450px 40px 0 6px rgba(162, 162, 162, 0.9),

                 452px 40px 0 1px rgba(100, 100, 100, 0.51),
                 450px 650px 0 8px rgba(162, 162, 162, 0.9),

                 448px 650px 0 3px rgba(100, 100, 100, 0.51),

                 270px 750px 0 11px rgba(162, 162, 162, 0.9),
                 270px 747px 0 6px rgba(100, 100, 100, 0.51),

                 1000px 1100px 0 20px rgba(162, 162, 162, 0.9),
                 1004px 1098px 0 16px rgba(100, 100, 100, 0.51),

                 1250px 630px 0 38px rgba(162, 162, 162, 0.9),
                 1254px 628px 0 31px rgba(100, 100, 100, 0.51),

                 10px 1050px 0 60px rgba(162, 162, 162, 0.9),
                 12px 1048px 0 53px rgba(100, 100, 100, 0.51),

                 670px 1360px 0 73px rgba(162, 162, 162, 0.9),
                 670px 1356px 0 53px rgba(100, 100, 100, 0.51),

                 430px 1250px 0 33px rgba(162, 162, 162, 0.9),
                 435px 1255px 0 13px rgba(100, 100, 100, 0.51),
                 
                 650px 250px 0 50px rgba(162, 162, 162, 0.9),
                  640px 256px 0 35px rgba(100, 100, 100, 0.51),
                  350px 250px 0 50px rgba(162, 162, 162, 0.9),
                  340px 256px 0 30px rgba(100, 100, 100, 0.51),
                  30px 605px 0 50px rgba(162, 162, 162, 0.9),
                  37px 610px 0 35px rgba(100, 100, 100, 0.51),
                  -120px 355px 0 50px rgba(162, 162, 162, 0.9),
                 -118px 357px 0 30px rgba(100, 100, 100, 0.51),
                 -70px 550px 0 5px rgba(162, 162, 162, 0.9),
                 -68px 552px 0 3px rgba(100, 100, 100, 0.51)
                
  } 


  @keyframes shake1 {
    0% {
      margin-left: 0rem;
    }
    25% {
      margin-left: 0.5rem;
    }
    75% {
      margin-left: -0.5rem;
    }
    100% {
      margin-left: 0rem;
    }
  }

  input:invalid {
    animation: shake1 0.1s ease-in-out 0s 2;
    color: #ff9494;
    border: 2px solid #ff9494;
    border-radius: 5px;
  }

  
  .invalidAnim {
    animation: shake1 0.1s ease-in-out 0s 2;
    color: #ff9494;
    border: 2px solid #ff9494;
    border-radius: 5px;
   
  }


/*.subDots {
  text-align: center;
  position: absolute;
  justify-content: center;
  overflow: hidden;
 height: 200%;
  background-color: #252323;
  border-radius: 50%;

}*/


