@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Rubik+Mono+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Patrick+Hand&family=Rubik+Mono+One&display=swap');

h1 {
padding-right: 50px;
font-family: 'Rubik Mono One', monospace;
font-weight: normal;
text-align: center;
padding-top: 20px;
font-size: 24pt;
color: #f1f1f1;
animation: h1Glow 5s cubic-bezier(0.42, 0, 0.58, 1)infinite;
z-index: 2;
border-color:#84d259;
border-style: hidden;
padding-bottom: 20px;
margin: -20px;

background-color:  rgba(19,19,19,255)


}

h1 a {
  text-decoration:none;
  color: #f1f1f1;
}

@keyframes h1Glow {
  0% {text-shadow: 0px 0px 0px rgb(233, 230, 230)}
  50% {text-shadow: 1px 2px 5px rgb(241, 241, 241)}
  100% {text-shadow: 0px 0px 0px rgb(245, 245, 245)}
}




header {

  color: white;
}

html, body {
  height:100%;
  width: 100%;
  margin: 0;
  padding:0;
}

body {
  background: rgb(243, 241, 239);/* linear-gradient(2deg, rgb(43, 163, 218), #4bdefb); */
  background-size: 800% 800% ;
  margin-bottom: 800%;
 overflow: hidden;

 
}






.background {
  position: absolute;
  top: 50;

  height: 100%;

  background-size: 50%; 
  z-index: -1; 
}

#score {
  font-family: 'Rubik Mono One', monospace;
  color: #f1f1f1;
  font-size: 20px;
  position: absolute;
  width: 200px;
 
  margin-top: 0px;
  padding: 10px;
  height: 305px;
  box-shadow: 0px 10px 20px #565656;
  
 

}

#leaderboard {
  font-family: 'Rubik Mono One', monospace;
  background-color: #111;
  color: #f1f1f1;
  font-size: 20px;
  position: absolute;
  width: 200px;
  margin-top: 0px;
  padding: 10px;
  height: 305px;
  box-shadow: 0px 10px 20px #565656;
  right: 21.5%; 
  display:flex;
  flex-direction: column;
  
  
  overflow-y: hidden; 
  overflow-x: hidden;
}



#flagGuess {
  z-index: 3;
}
#inputSubmit {
  text-align:center;
  z-index: 3;
}
.scoreChild2 { 
  text-align: right;

}
.scoreChild4 {
  right: 20%;
}



.flag1 {/* container */
   
    margin: 50px;
   
   justify-content: center;
    display: flex;
    flex-direction: row;
    border-spacing: 20%;
    gap: 20%;
    
    
    
    
}

a {
  text-decoration: none;
 }
 
img {

  height: 100%;
}
.gameModes {
  display: flex;
  gap: 10%;
  justify-content: center;
  margin-left: 70px;
  margin-top: 150px;
  
  
}
#normal {
  box-shadow: 0px 5px 20px #565656;
  padding:10px 27px;
  background-color: rgb(201, 201, 74);  
  color: #f1f1f1;
  font-family: 'Rubik Mono One', monospace;
  font-weight: bold;
  border-radius: 5px;
  border-style: hidden;
  cursor:pointer;
  font-size: 30px;
}
#normal:hover,#time:hover, #education:hover {
  background-color: rgb(174, 174, 65);  
}
#time {
  box-shadow: 0px 5px 20px #565656;
  font-family: 'Rubik Mono One', monospace;
  padding:10px 27px;
  background-color: rgb(201, 201, 74);  
  color: #f1f1f1;
  font-weight: bold;
  border-radius: 5px;
  border-style: hidden;
  cursor: pointer;
  font-size: 30px;
}

#education {
  box-shadow: 0px 5px 20px #565656;
  font-family: 'Rubik Mono One', monospace;
  padding:10px 27px;
  background-color: rgb(201, 201, 74);  
  color: #f1f1f1;
  font-weight: bold;
  font-size: 30px;
  border-radius: 5px;
  border-style: hidden;
  cursor:pointer;
}

#flag1 {
  animation: changeZ 1s infinite; 
  border-style: none;
  border-color: black;
  
}

.hintButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;

}

#hint {
  padding:6px 47px;
  background-color: rgb(201, 201, 74);  
  color: #f1f1f1;
  font-weight: bold;
  border-radius: 5px;
  border-style: hidden;
  z-index: 2;
}

#hint:hover {
  background-color: rgb(189, 189, 70);  
  cursor: pointer;
  
  
}

#giveUp:hover {
  background-color: #b4523c; 
  cursor: pointer;
  
  
}

#giveUp {
  padding:6px 35px;
  background-color: #d05e45;
  color: #f1f1f1;
  font-weight: bold;
  border-radius: 5px;
  border-style: hidden;
  z-index: 2;
  
}
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px;
    transition: 0.3s; 
  }
 

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  #slider { 
    float: left;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 8px;
    margin-top: -20px;
    color: #f1f1f1
   
}
#gif {
width: 50px;

}
#submitButton {
  padding:6px 12px;
  background-color: #84d259;
  color: #f1f1f1;
  font-weight: bold;
  border-radius: 5px;
  border-style: hidden;
  z-index: 2;
}

#submitButton:hover {
  background-color: #77bc52;
  cursor: pointer;
  
  
}
  #slider:hover {
    background-color:rgba(141, 141, 141, 0.441);

       
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }
  

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
 
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* smaller screen only for side nav */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .start {
    text-align: center;
  }
  #starts { 
    font-family: 'Rubik Mono One', monospace;
    border-radius: 9px;
    font-size: 40px;
    position: relative; 
    top: 150px; 
    border: hidden;
    padding: 16px 32px;
    background: linear-gradient(2deg, #84d259, #71aa51 );
    color: #f1f1f1;
    background-size: 800% 800% ;
    margin-bottom: 800%;
    animation: uiColor 1s ease infinite;
    
    
  
  }

  @-webkit-keyframes uiColor {
    0%{background-position:52% 0%}
    50%{background-position:49% 100%}
    100%{background-position:52% 0%}
  }
  @-moz-keyframes uiColor {
    0%{background-position:52% 0%}
    50%{background-position:49% 100%}
    100%{background-position:52% 0%}
  }
  @keyframes uiColor {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
  }
  #starts:hover {
    background-color: #71b34e;
    cursor: pointer;
    
  }

  input {
    padding:6px 8px;
    border-radius: 5px;
    border-style: hidden;
    margin-right: 6px;
  
  }

  @keyframes changeZ {
    0% {
      z-index: 1; 
    }
    50% {
      z-index: 100; 
    }
    100% {
      z-index: 1;
    }
  }
  


  h1 #gif{
    width: 50px;
    border-top: 50px;
    border-bottom: 100px;
  }
  

  .moonMode {
    background: rgb(16, 16, 16);

   
   
    
  }

  .earth {
    text-align: center;
    position: absolute;
    justify-content: center;
    overflow: hidden;
    top: 70vh;
    margin-left: 1vw;
    box-shadow: 0px 0px 25px rgb(0, 0, 0);
    height: 95vw;
    width: 95vw;
    background-color: rgb(56, 122, 202); /*#bbb*/
    border-radius: 50%;
    will-change: transform;
    
    transform: translateZ(0);
    animation: rotateAnimation 60s linear infinite, pullMoon ease 3s;
    z-index: -1;

  }

  @keyframes rotateAnimation {
  0% {
      transform: rotate(0deg);
  }
  25% {
      transform: rotate(90deg);
  }
  50% {
      transform: rotate(180deg);
  }
  75% {
      transform: rotate(270deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes pullMoon {
  0% {
    top: 100vh;
}
20% {
    top: 45vh;

}
}



  .earth::after{
    content: "";
    background-color: rgb(35, 89, 154);
    display: block;
    position: absolute;
    left:  160px;
    top:  50px;
    width: 4vw;  
    height: 8vh;
    border-radius:50%;
    box-shadow: 3px 0 0 -5px #6cad49,
    7px 45px 0 -5px #84d259,
    9px 45px 0 -10px #75bb4f,
    35px 20px 0 -10px #84d259,
    37px 20px 0 -15px #75ba4f,

    
    450px 40px 0 6px #73b94e,
  
    452px 40px 0 1px #76bc50,

    450px 650px 0 8px #73b94e,
    448px 650px 0 3px #73b94e,

    
    270px 750px 0 11px #78c052,
    270px 747px 0 6px #84d259,
    1000px 1100px 0 20px #78c051,
    1004px 1098px 0 16px #84d259,
    1250px 630px 0 38px #79c252,
    1254px 628px 0 31px #84d259,
    10px 1050px 0 60px #78c051,
    12px 1048px 0 53px #84d259,
    670px 1360px 0 73px #77bf51,
    670px 1356px 0 53px #84d259,
    430px 1250px 0 33px #76bd50,
    435px 1255px 0 13px #84d259,
    650px 250px 0 50px #75bb4f,
    640px 256px 0 35px #84d259,
    350px 250px 0 50px #75bb50,
    340px 256px 0 30px #84d259,
    30px 605px 0 50px #74b94f,
    37px 610px 0 35px #84d259,
    -120px 355px 0 50px #73b94e,
    -118px 357px 0 30px #84d259,
    -70px 550px 0 5px #75bb50,
    -68px 552px 0 3px #84d259;

  }

  
  .moon {
    text-align: center;
    position: absolute;
    justify-content: center;
    overflow: hidden;
    top: 70vh;
    margin-left: 1vw;
    height: 95vw;
    width: 95vw;
    background-color: #bbb; /*#bbb*/
    border-radius: 50%;
    will-change: transform;
    box-shadow: 0px 0px 100px #565656;
    z-index: -1;
    transform: translateZ(0);
    animation: rotateAnimation 60s linear infinite, pullMoon 3s;
    

  }

  .moon::after{
    content: "";
    background-color: rgba(162, 162, 162, 0.81);
    
    display: block;
    position: absolute;
    left:  160px;
    top:  50px;
    width: 40px;  
    height: 40px;
    border-radius:50%;
    box-shadow: 3px 0 0 -5px rgba(98, 98, 98, 0.51),
                7px 45px 0 -5px rgba(162, 162, 162, 0.9),

                9px 45px 0 -10px rgba(100, 100, 100, 0.51),
                 35px 20px 0 -10px rgba(162, 162, 162, 0.9),

                 37px 20px 0 -15px rgba(100, 100, 100, 0.51),
                 400px 40px 0 -5px rgba(162, 162, 162, 0.9),

                 402px 40px 0 -10px rgba(100, 100, 100, 0.51),
                 450px 40px 0 6px rgba(162, 162, 162, 0.9),

                 452px 40px 0 1px rgba(100, 100, 100, 0.51),
                 450px 650px 0 8px rgba(162, 162, 162, 0.9),

                 448px 650px 0 3px rgba(100, 100, 100, 0.51),

                 270px 750px 0 11px rgba(162, 162, 162, 0.9),
                 270px 747px 0 6px rgba(100, 100, 100, 0.51),

                 1000px 1100px 0 20px rgba(162, 162, 162, 0.9),
                 1004px 1098px 0 16px rgba(100, 100, 100, 0.51),

                 1250px 630px 0 38px rgba(162, 162, 162, 0.9),
                 1254px 628px 0 31px rgba(100, 100, 100, 0.51),

                 10px 1050px 0 60px rgba(162, 162, 162, 0.9),
                 12px 1048px 0 53px rgba(100, 100, 100, 0.51),

                 670px 1360px 0 73px rgba(162, 162, 162, 0.9),
                 670px 1356px 0 53px rgba(100, 100, 100, 0.51),

                 430px 1250px 0 33px rgba(162, 162, 162, 0.9),
                 435px 1255px 0 13px rgba(100, 100, 100, 0.51),
                 
                 650px 250px 0 50px rgba(162, 162, 162, 0.9),
                  640px 256px 0 35px rgba(100, 100, 100, 0.51),
                  350px 250px 0 50px rgba(162, 162, 162, 0.9),
                  340px 256px 0 30px rgba(100, 100, 100, 0.51),
                  30px 605px 0 50px rgba(162, 162, 162, 0.9),
                  37px 610px 0 35px rgba(100, 100, 100, 0.51),
                  -120px 355px 0 50px rgba(162, 162, 162, 0.9),
                 -118px 357px 0 30px rgba(100, 100, 100, 0.51),
                 -70px 550px 0 5px rgba(162, 162, 162, 0.9),
                 -68px 552px 0 3px rgba(100, 100, 100, 0.51)
                
  } 


/*.subDots {
  text-align: center;
  position: absolute;
  justify-content: center;
  overflow: hidden;
 height: 200%;
  background-color: #252323;
  border-radius: 50%;

}*/

 

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  background-clip:text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}





@keyframes shake1 {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

input:invalid {
  animation: shake1 0.1s ease-in-out 0s 2;
  color: #ff9494;
  border: 2px solid #ff9494;
  border-radius: 5px;
}


.invalidAnim {
  animation: shake1 0.1s ease-in-out 0s 2;
  
  border: 2px solid #ff9494;
  border-radius: 5px;
 
}

.info {
  height: 100%;
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  right: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 60px;
  transition: 0.3s; 
}




.info p {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  font-family: 'Patrick Hand', cursive;
   display: block;
  transition: 1s;
}

@keyframes animStar {
  from {
    transform: translateX(0px)
  }
  to {
    transform: translateX(-2000px)
  }
}

#entries {
  background-color: 'rgba(19,19,19,255)';
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(231, 231, 231);
  -webkit-transition: .4s;
  transition: .4s;
 
}

input:checked + .slider {
  background-color: #efefef;
  
}

input:checked + .slider:before {
  animation: animColor .4s forwards
}

@keyframes animColor {
  from {
    background-color: rgb(231, 231, 231);
    
  } 
  to {
    background-color: rgb(0, 0, 0);
  }
}
input:focus + .slider {
  box-shadow: 0 0 1px #efefef;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

